* {
    box-sizing: border-box;

    font-size: 16px;
    /* font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial,
                    sans-serif; */
    font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial,
                    sans-serif;
    font-style: normal;
    font-weight: normal;
}

:root {
    --button-background-active: #A1693C;
    --button-border-focus: darkblue;
    --button-background-hover: #BE8250;
    --link-default: #D49561;
    --logo-background: #3C3C3C80;
    --border-color-invalid: red;
    --border-color-valid: limegreen;
    --box-shadow-a: #BFBFBF;
    --box-shadow-b: #DFDFDF;
    --box-shadow-c: #FFFFFF;
}

body, html {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;
    height: 100vh;
}

/* Banner *********************************************************************/
#banner {
    position: relative;

    width: 40%;
    height: 100%;

    background-image: url(../img/logo-background.jpg);
    background-image: url(../img/logo-background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    margin-top: 20vh;
    padding: 15px;
    width: 100%;

    background-color: var(--logo-background);
}

#logo-heading {
    margin: 0;
    padding-top: 10px;

    color: white;
    font-family: "AnarchistMustacheRegular", Candara, Calibri, Segoe, Segoe UI,
                    Optima, Arial, sans-serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: bold;
}

#logo-image {
    width: 80px;
    height: auto;
}

#logo-credit {
    position: absolute;
    bottom: 0;

    width: 100%;

    background-color: rgba(60, 60, 60, 0.5);

    color: white;
    font-weight: lighter;
    text-align: center;
}

.credit-text {
    margin: 10px;
}

.credit-text, .credit-link {
    color: white;
    font-weight: 300;
}

.credit-link, .credit-link {
    text-decoration-style: dotted;
}

.credit-link:focus, .credit-link:hover {
    text-decoration: underline;
}

/* Text ***********************************************************************/
#sign-up {
    width: 60%;
    height: 100%;
    padding-top: 100px;
    padding-bottom: 140px;

    background-color: #FAFAFA;
}

#sign-up-text, #sign-up-form, #sign-up-suggestion {
    padding-right: 50px;
    padding-left: 50px;
}

#sign-up-text, #sign-up-suggetion {
    padding-right: 280px;
}

#sign-up-text > *, em {
    font-size: 1.5rem;
    font-weight: 600;
    /* border: 5px solid black; */
}

em {
    font-style: italic;
}

#sign-up-form {
    padding-top: 25px;
    padding-bottom: 35px;
    padding-right: 300px;

    box-shadow:
        0px -2px 2px #F5F5F5,
        4px 2px 2px var(--box-shadow-a),
        4px 6px 2px var(--box-shadow-b),
        4px 10px 2px var(--box-shadow-c);
    background-color: white;
}

#sign-up-form > fieldset {
    margin: 0;
    border: none;
    padding: 0;
}

#sign-up-form > fieldset > legend {
    margin: 0;
    padding: 0;

    font-size: 1.5em;
    font-weight: 600;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* gap: 48px; */
    column-gap: 48px;
    row-gap: 24px;

    padding: 0;
    list-style-type: none;
}

input, button, label {
    display: block;
}

li {
    position: relative;

    width: 40%;
}

label, input {
    width: 250px;
}

label {
    margin-bottom: 5px;
    /* font-size: 0.8em; */
    font-weight: 600;
    font-variant: small-caps;
}

input {
    appearance: none;
    
    /* border: 1px solid #DFDFDF; */
    border: 2px solid #CECECE;
    border-radius: 4px;
    padding: 4px 8px;

    background-color: #FEFEFE;
}

input:focus {
    outline: none;
    box-shadow:
        4px 2px 2px var(--box-shadow-a),
        4px 6px 2px var(--box-shadow-b),
        4px 10px 2px var(--box-shadow-c);
    border: 2px solid #4682B4;
}

input:optional {
    border-style: dashed;
}

input[type="password"]:required:valid {
    border-color: var(--border-color-valid);
}

input[type="password"]:required:invalid {
    border-color: var(--border-color-invalid);
}

input:required + span::after, input:optional + span::after {
    position: absolute;
    top: 30px;
    right: -8px;
}

input:optional:placeholder-shown + span::after {
    content: "" !important;
}

input:required:invalid + span::after, input:optional:invalid + span::after {
    content: "❌";
}

input:required:valid + span::after, input:optional:valid + span::after {
    content: "✅";
}

#sign-up-suggestion {
    padding-top: 40px;
}

#sign-up-create {
    margin: 0 0 32px 0;
    border: 2px solid transparent;
    border-radius: 6px;
    padding: 8px 48px;

    background-color: var(--link-default);
    box-shadow: 2px 2px 6px #AAAAAA;

    color: white;
    font-size: 1.2rem;
}

#sign-up-create:focus {
    outline: none;
    border: 2px solid var(--button-border-focus);
}

#sign-up-create:hover {
    background-color: var(--button-background-hover);
}

#sign-up-create:active {
    background-color: var(--button-background-active);
}

#sign-up-login {
    font-weight: 500;
}

#sign-up-login-link {
    color: var(--link-default);
    font-weight: 700;
    text-decoration: none;
}

#sign-up-login-link:focus, #sign-up-login-link:hover {
    text-decoration: underline;
}

#sign-up-login-link:active {
    color: var(--button-background-active);
}
